/* 27F5B0 sea green
27D3F5 cyan
276CF5 aqua blue
F5276C dark salmon
F5B027 mustard yellow

*/


* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular';
    box-sizing: border-box;
}

/* -------- HEADER ----------> */
header {
    display: grid;
    grid-template-columns: 75px 1fr 44px;
    grid-template-rows: auto auto;

}

#pageTitle {
    text-align: center;
}

#pagelogo {
    width: 75px;
    padding-bottom: 2px;
    justify-self: start;
}

/*-------- HAMBURGER MENU --------*/

.hamburger {
    grid-column: 3;
    grid-row: 1;
    background: none;
    border: none;
    cursor: pointer;
    color: #30405B;
    padding: 5px 0px 5px 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger::before {
    content: "\2630";

}

.hamburger.show::after {
    content: "\00D7";


}


/* -------- NAVIGATION ----------> */
.nav {
    display: none;
}

.nav.show {
    display: inline-block;
    width: 100%;
    grid-column: 1/4;
    grid-row: 2;
    background-color: #30405B;
    color: white;
}

.nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.nav a {
    display: block;
    padding: .8rem 10px;
    color: #F5B027;
    text-decoration: none;
}

/* Makes current navigation item stand out */
.nav li.current {
    text-decoration: none;
    background-color: #F5B027;
}

.current a {
    color: #30405B;
}

.nav a:hover {
    background-color: #F5B027;
    color: white;
}

h1 {
    margin-left: 10px;
    color: #30405B;
}


/* ------------MAIN------------- */


/* Cards */
#directory {
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

/* #directory  */
section {
    margin: 10px 0;
    background-color: #ccc;
    border: solid 2px darkcyan;
    border-radius: 5px;
    text-align: center;
}

#directory a {
    color: black;
    padding: 0 10px 10px 10px;
    text-decoration: none;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #30405B;
    color: white;
}

#directory a:hover {
    background-color: #F5B027;
    color: white;
}

#directory img {
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    max-width: 75%;
    max-height: auto;
    margin-bottom: 25px;
}

.button {
    display: none;
}




/* ---------FOOOTER--------------- */
footer {
    background-color: #eee;
    padding: 1rem 10px;
    text-align: center;

}

.social {
    display: flex;
    justify-content: center;
    column-gap: 8px;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: solid 1px #ccc;
    border-radius: 7px;

}

.social img {
    width: 22px;
    height: 22px;
}

.social a:hover {
    background-color: #ddd;
    color: white;
}